.ticket{
    border:1px solid pink;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 10px;
    /* color:black; */
}